<!DOCTYPE html>

    <!-- headlinks here -->
    <%- include('links/headlinks.ejs') %>

    <!-- body here -->
    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">
            <!-- Preloader -->
            <div class="preloader flex-column justify-content-center align-items-center">
                <img class="animation__shake" src="img/PEARSONSPECTERLOGO-removebg-preview.png" alt="AdminLTELogo"
                    height="100" width="100" />
            </div>

            <!-- Navbar -->
            <%- include('navs/topbar.ejs') %>
            <!-- /.navbar -->

            <!-- Sidebar -->
            <%- include('navs/sidebar.ejs') %>
            <!-- /.sidebar -->

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0">Dashboard</h1>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- /.content-header -->

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <!-- Small boxes (Stat box) -->
                        <div class="row">
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-info">
                                    <div class="inner">
                                        <h3>150</h3>

                                        <p>Documents</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-folder"></i>
                                    </div>
                                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-success">
                                    <div class="inner">
                                        <h3>53</h3>

                                        <p>Departments</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>
                                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-secondary">
                                    <div class="inner">
                                        <h3>44</h3>

                                        <p>Clients</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person"></i>
                                    </div>
                                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-danger">
                                    <div class="inner">
                                        <h3>65</h3>

                                        <p>Users</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>
                                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                        </div>
                        <!-- /.row -->
                        <!-- Main row -->
                        <div class="row">
                            <div class="col-md-12">
                                <%- include('timeline.ejs') %>
                            </div>

                        </div>
                        <!-- /.row (main row) -->
                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>

            <!-- /.content-wrapper -->

            <!-- Footer here  -->
            <%- include('navs/footer.ejs') %>

            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->

        <!-- Footlinks here  -->
        <%- include('links/footlinks.ejs') %>
    </body>

    
    <% String.prototype.fullDate = function() { %>
        <% var inputDate = this; %> 
        <% if (inputDate == "" || inputDate == null || inputDate == undefined) { %>
            <% return ''; %>
        <% } else { %>
            <% var date = new Date(inputDate); %>
            <% return date.toDateString(); %>
        <% } %>
    <% } %>

    <%String.prototype.fullDateTime = function() { %>
        <% let inputDate = this; %>
        <% if (inputDate === "" || inputDate === null || inputDate === undefined) { %>
            <% return ''; %>
            <%} else {%>
                <% let date = new Date(inputDate); %>
                <% let hh = date.getHours();%>
                <% let min = date.getMinutes(); %>
                <% let sec = date.getSeconds(); %>
                <% return date.toDateString()+' '+hh+':'+(min < 10 ? '0'+min : min)+':'+(sec < 10 ? '0'+sec : sec); %>
            <%  } %>
    <%  }%>

    <% String.prototype.toUcwords = function() { %>
        <% let value = this; %>
        <% if (value == "" || value == null || value == undefined) { %>
            <% return ''; %>
        <% } else { %>
            <% return value.replace(/\w+/g, function(a){ %>
                <% return a.charAt(0).toUpperCase() + a.slice(1).toLowerCase(); %>
            <% }); %>
        <% } %>
    <% } %>

    <% String.prototype.formatNumber = function() { %>
        <% let value = Number(this); %>
        <% return value.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'); %>
    <% } %>

    <% var queryString = 'pub='+pageNavigate.pub+'&med='+pageNavigate.med; %>

</html>